################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetProContest/v14
/bin/Debug
/obj/Debug
/packages/System.Windows.Controls.DataVisualization.Toolkit.4.0.0.0
